*{
  margin: 0;
}
body{
  background-color: #f5f6fa;
  margin-top: 20px;
background-image: url("https://previews.123rf.com/images/onairjiw/onairjiw1708/onairjiw170800026/83238816-close-up-white-plain-paper-texture-background.jpg");  
}
footer{
  background-image: url("https://previews.123rf.com/images/onairjiw/onairjiw1708/onairjiw170800026/83238816-close-up-white-plain-paper-texture-background.jpg");  

}
.app{
  display: flex;
  justify-content: space-evenly;
}
.app__dropdown{
  background-color: white;
  /* border-radius: 20px; */
}
.app__header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom:  20px; 
}
.app__left{
  flex: 0.9;
}
.app__stats {
  display: flex;
  justify-content: space-between ;
}
.app__graph{
  flex-grow: 1 !important ;
}
@media (max-width: 990px) {
.app{
  flex-direction: column;
}
}
.chart-heading{
  margin-top: 20px;
  margin-bottom: 20px;
}
.description{
  margin-bottom: 20px;
}
.description-content{
  margin-bottom: 20px;
}
.app__right{
  border-radius: 20px !important ;
}
.worldwide{
  margin-top: 20px;
  margin-bottom: 50px;
}
.react, .disease{
   color: rgb(3, 3, 190);
}
.react:hover{
  color: rgb(3, 3, 190);
  text-decoration: underline;
}
.disease:hover{
  color: rgb(3, 3, 190);
  text-decoration: underline;
}